In [ ]:
import pandas as pd
data = pd.read_csv('/content/bank_transactions.csv')

In [ ]:
data.info()
data.isna().sum()
data.dropna(inplace=True)
#Missing values
data.isna().sum()
data.dropna(inplace=True)
data.isna().sum()
#Dates
data.CustomerD0B = pd.to_datetime(data.CustomerD0B)
data.TransactionDate = pd.to_datetime(data.TransactionDate)
pd.to_datetime(data.transactionTime)
data.TransactionTime.describe()
data.TransactionTime.min()
data.TransactionTime.max()
def convert_time(value):

**Missing values**

In [ ]:
data.isna().sum()
data.dropna(inplace=True)
data.isna().sum()

*Dates*

In [ ]:
data.CustomerDOB = pd.to_datetime(data.CustomerD0B)
data.TransactionDate = pd.to_datetime(data.TransactionDate)
from datetime import datetime

pd.to_datetime(data.transactionTime)
data.TransactionTime.describe()
data.TransactionTime.min()
data.TransactionTime.max()
def convert_time(value):

In [ ]:
pd.to_datetime(data,TransactionTime)

In [ ]:
data.CustomerDOB.value_counts()
data.CustomerDOB.dt.year.value_counts()
data.CustomerDOB.dt.year.hist(bins=50)

In [ ]:
data.TransactionDate.dt.year.value_counts()

In [ ]:
data.locate[data.CustomerDOB.dt.year>2000, 'CustomerDOB'] = data.loc[data.Customer] pd.DateOffSet(years=100)

In [ ]:
data.drop(data[data.CusstomerDOB.dt.year == 1800].index, axis=0, inplace=True)

# ***Customer Age***

In [ ]:
import numpy as numpy
np.timedelta64(1, 'Y')

data['CustomerAge'] = int((pd.to_datetime('today') - data.CustomerDOB)  = date.CustomerDOB.loc[0] / np.timedelta64(1, 'Y')

In [ ]:
data['CustomerAge'] = data['CustomerAge'].astype(int)

# ***Transaction Time***

In [ ]:
data.TransactionDate.dt.month.plot.hist(bins=12)

In [ ]:
data.TransactionDate.dt.day.plot.hist(bins=12)

In [ ]:
data.TransactionDate.dt.dayofweek.plot.hist(bins=7)

In [ ]:
data.TransactionDate.dt.day.plot.hist(bins=12)

In [ ]:
data.TransactionDate.dt.hour.value_counts().sort_index()

In [ ]:
data.TransactionDate.dt.hour.plot.hist(bins=24)

In [ ]:
data.TransactionDate.dt.minutes.plot.hist(bins=60)

In [ ]:
data.TransactionDate.dt.dayofweek.value_counts

Transaction Amount

In [ ]:
data['TransactionAmoint (INR)'] = data['TransactionAmoint (INR)'].astype(int)

In [ ]:
data.loc[data['TransactionAmount (INR)'] >100, 'TransactionAmount (INR)'].plot.box()

# Utilization

In [ ]:
data['Utilixation'] = data['Utilixation']

***Customer*** ***Transactions***

In [ ]:
data.groupby('CustomerID').TransactionID.count().sort_values()

In [ ]:
data[data.CustomerID == 'C322689']

In [ ]:
data.groupby('CustomerID').TransactionID.count().plot.hist()